version: "3.8"

services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b 0.0.0.0"
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
      - bundle_data:/usr/local/bundle
    environment:
      RAILS_ENV: development


volumes:
  bundle_data:
