<div class="page-content">
  <div class="card-title">
    <h1>Pessoas</h1>
    <%= link_to 'Nova Pessoa', new_pessoa_path, class: "btn-action-link" %>
  </div>

  <!-- Se quiser manter o layout bonitinho, deixo um container vazio -->
  <div class="search-form-container card">

    <!-- Aqui você pode colocar um fo
