<section class="home-wrapper">
<div class="home-container">


<h1 class="home-title">
Sistema de Gestão de Pessoas
</h1>


<p class="home-subtitle">
Cadastre, visualize e gerencie pessoas de forma organizada e segura.
</p>


<div class="home-actions">
<%= link_to "Novo Cadastro", new_pessoa_path, class: "btn-main" %>
<%= link_to "Ver Registros", pessoas_path, class: "btn-outline" %>
</div>


</div>
</section>